Repository zoo-js/zoo, pull requests merged in 2020-11, with the labels that each got.

#47 chore: update issue
  .github/ISSUE_TEMPLATE/new_application.md
Labels: PR: unreviewed

#49 feat: auto invited
  .github/workflows/auto-invite.yml
  .gitignore
  package.json
  script/auto-invite.js
  test.env
Labels: PR: reviewed-approved

#55 Create add-need-info.yml
  .github/workflows/add-need-info.yml
Labels: PR: unreviewed

#65 perf: add more pets
  README.en-US.md
  README.md
Labels: PR: reviewed-approved

#67 docs: update issue temp
  .github/ISSUE_TEMPLATE/new_application.md
Labels: PR: reviewed-approved

#78 perf: auto invite check email
  script/auto-invite.js
Labels: PR: reviewed-approved

#76 feat: update readme
  README.en-US.md
  README.md
  active-script/update-readme.js
  base/README.base.md
  base/README.en-US.base.md
  package.json
  script/auto-invite.js
Labels: PR: partially-approved

#80 chore: add update-readme.yml
  .github/workflows/update-readme.yml
Labels: PR: reviewed-approved

#88 feat: add check application
  script/check-application.js
Labels: PR: unreviewed

#90 feat: add update-fork
  active-script/update-fork.js
Labels: PR: merged
